body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
}

header {
    background-color: #333;
    color: #fff;
    padding: 10px 0;
    text-align: center;
}

header nav ul {
    list-style: none;
    padding: 0;
}

header nav ul li {
    display: inline;
    margin: 0 10px;
}

header nav ul li a {
    color: #fff;
    text-decoration: none;
}

section {
    padding: 20px;
}

h2 {
    border-bottom: 2px solid #333;
    padding-bottom: 10px;
}

.project-list {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
}

.project-item {
    background-color: #fff;
    border: 1px solid #ddd;
    padding: 10px;
    width: calc(33% - 20px);
    box-sizing: border-box;
}

.project-item h3 {
    margin-top: 0;
}

.project-item p {
    font-size: 14px;
}

.project-item a {
    display: inline-block;
    margin-top: 10px;
    color: #333;
    text-decoration: none;
    border: 1px solid #333;
    padding: 5px 10px;
    transition: background-color 0.3s, color 0.3s;
}

.project-item a:hover {
    background-color: #333;
    color: #fff;
}

footer {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 10px 0;
}

.project-item img {
    max-width: 100%; /* Ensures the image does not exceed its container */
    height: auto; /* Maintains the image's aspect ratio */
    display: block; /* Ensures the image behaves as a block element */
    margin-top: 10px; /* Adds some space above the image */
}

